@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}
*::-webkit-scrollbar{
  display: none;
}
html{
  height: 100%;
}
/* HEADER */
.header{
  background-color: #000;
  color:#fff;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
header figure{
  width: 300px;
}
.logo-carmona{
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.selectorMenu{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
header select{
  background-color: #121212;
  color: #ddd;
  border-radius: 5px;
  padding: 5px;
}
/* TITLE */
.nav-botones{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icono{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.btn-icono:active{
  background-color: #1f3251;
}
.btn-icono:active img{
  filter: invert(100%);
  /* filter: sepia() saturate(10000%) hue-rotate(10deg); */
}
.btn-icono img{
  width: 30px;
  height: 30px;
}
/* HOME */
.home{
  width: 100%;
  height: 80%;
  padding: 20px 80px 20px 80px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width:700px){
  .home{
    padding: 20px 15px 20px 15px;
  }
  .selectorMenu{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 40%;
  }
}
.home-imgs{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  min-height: 350px;
  max-height: 400px;
}
.home-imgs::-webkit-scrollbar{
  display: none;
}
.home-img-container{
  border-radius: 20px;
  width: 300px;
  overflow: hidden;
  height: 100%;
}
.img-promo{
  object-fit: cover;
  height: 100%;
}
/* FOOTER */
.footer{
  background-color: #000;
  color: #fff;
  bottom: 0;
  width: 100%;
}
.footer-sociales{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.footer-sociales figure a{
  width: 50px;
  height: 50px;
}
.footer-sociales figure a img{
  object-fit: contain;
}
.social-wsp{
  width: 55px;
  height: 55px;
}
.social-insta{
  width: 55px;
  height: 55px;
}